*{
	margin:0;
	padding:0;
}
#container{
	//background:#eee;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}

.logo img{width:300px;
	position:absolute;
	left: 10px; top: 0px;
	cursor:pointer;
	}

#nav{
	background:#ccf;
	height:50px;
	width:calc(100% - 300px);
	margin-left:300px;
	line-height:50px;
	font-size:150%;
	display:flex;
	flex-direction:row;
	align-content: space-around;
	}

#nav div{
	width:25%;
	border:1px white solid;
	text-align:center;
	display:inline-block;
}
	
.basket{
	width:calc(100% - 300px);
	background:#cff; 
	margin-left:300px;
	line-height:50px;
	height:50px;
	text-align:center;
	font-size:150%;
	}

.sale{
	background:url(pic/banner.jpg) no-repeat center;
	background-size:contain;
	width:calc(100% - 300px);
	height:240px;
	margin:30px 30px 30px 500px ;
	}

#nc{
	//background:#ffc;
	width:100vw;
	box-sizing:border-box;
	display:inline-flex;
}

#newCat{
	width:50vw;
	height:300px;
	cursor:pointer;
	overflow: hidden;
	align-self:center;
	display:flex;
	flex-direction:row;
}

.new1{
	width:25vw;
	height:300px;
	background:url(pic/new/1.png) no-repeat center;
	background-size:contain;
}

.new2{
	width:25vw;
	height:300px;
	background:url(pic/new/2.png) no-repeat center;
	background-size:contain;
}

#newCat > div{
	transform:scale(1);
	animation:bigger 5s infinite linear alternate;
}

#newCat > div:last-child{
	animation:bigger 5s infinite 5s linear alternate;
}

@keyframes bigger{
from{transform:scale(1);}
to{transform:scale(1.2);}	
}

#news{
	width:50vw;
	height:300px;
	margin-right:20px;
	margin-bottom: 20px;
	align-self:flex-end;
	float:right;
	}

.note{
	width:48vw;
	height:150px;
	display:inline-block;
	text-align:justify;
	padding:0 10px;
	margin-bottom: 10px;
}

.note img{
	height:150px;
	float:left;
	margin-right:10px;
}

.note h3 > p{
	float:right;
}

footer{
	height:100px;
	flex-basis:100%;
	bottom:0px;
	
}
	
.tel{
	background:#ccc;
	width:50%; height:100%; float:left;
	padding:20px 10px;
	box-sizing: border-box;
}

.feedback{background:#aaa;
	width:50%;height:100%; float:right;
	padding:20px 10px;
	box-sizing: border-box;
}

.models{
	//background:#cfc;
	width:calc(100% - 300px);
	height:240px;
	margin-left:300px;
	align-self:flex-top;
	font-size:150%;
	text-align:center;
	padding-top:100px;
	box-sizing: border-box;
}

#cont{
	width:100vw;
	box-sizing:border-box;
	display:inline-flex;
	position:relative;
}

.slider{
	width:600px;
	padding-top:340px;
	position:relative;
	margin:20px auto;
	overflow:hidden;
}
.slider > img{
	width:400px; height:600px;
	position:absolute;
	top:0px;left:0px;
	transform:translateX(-400px);
	transition:all 0.5s linear;
	opacity:0;
}
.slider > label > img{
	padding-top:260px;
	width:40px; height:60px;
	cursor:pointer;
	filter: sepia(1);
	transition:all 0.3s linear;
}
.slider > label > img:hover{
	filter: sepia(0);
	position:relative;
	z-index:10;
}
.slider > input{
	display:none;
}
.slider input:checked ~ img{
	transform:translateX(400px);
}
.slider input:checked + img{
	transform:translateX(0px);
	opacity:1;
	z-index:1;
}
.slider > input:checked + img + label > img{
	box-shadow:0px 0px 3px 2px red;
	filter: sepia(0);
}

.catalog{
	width:600px; height: 700px; 
	margin:20px auto; 
	overflow:auto; 
}

.catalog > span{
	display:inline-block;
}

.catalog > span >img{
	width: 200px; height: 300px;
	cursor:pointer;
} 

.onclick{
	width:400px;
	height:600px;
	position:absolute;
	left:500px;
	z-index:10;
}

.onclick > img{
	width:400px;
	height:600px;
	border:solid black 2px;
}

.onclick::after{
	content:"Информация о товаре: материал, размер, цвета в наличии";
	background:rgba(255,255,255,.85);
	display:block;
	width:175px;
	height:250px;
	border:black solid 2px;
	position:absolute;
	left:402px;
	top:0;
}

#bay{
	min-width:100vw;
	min-height:200px;
	box-sizing:border-box;
	//background:#ffc;
	margin:0px auto;
	padding:10px;
}

#bay label{
	width:30vw;
	display:inline-block;
	padding-top:5px;
}

#bay input[type=text],
#bay input[type=tel],
#bay input[type=email],
#bay input[type=url],
#bay input[type=date],
#bay input[type=time]
{
	padding:5px;
	margin:5px;
	width:50vw;
}

#bay div.dost{
	display:inline-block;
	width:50vw;
}
#bay input[type=radio]{
	padding:5px;
}
#bay div.dost label{
	padding:5px;
	width:50vw;
}

#test{
	width:80vw; min-height:450px;
	margin:0 auto;
	text-align:center;
	position:relative;
} 

.left{
	width:50%; min-height:300px;
	margin:50px 0 auto;
	text-align:center;
	background:#ffc;
	border:solid navy 1px;
	display:inline-block;
	box-sizing:border-box;
	position:absolute;
	left:0;
	cursor:pointer;
	font-size:150%;
	text-align:right;
	padding-right:50px;
	padding-top:120px;
}

.right{
	width:50%; min-height:300px;
	margin:50px 0 auto;
	text-align:center;
	background:#fcc;
	border:solid navy 1px;
	border-left:none;
	display:inline-block;
	box-sizing:border-box;
	position:absolute;
	left:50%;
	cursor:pointer;
	font-size:150%;
	text-align:right;
	padding-right:50px;
	padding-top:120px;
}




@media (max-width:600px){
	
	.logo img{
	width:25vw;
	}

	#nav{
	display:flex;
	width:75vw;
	margin-left:25vw;
	font-size:90%
	}
	
	.basket{
	display:flex;
	width:75vw;
	margin-left:25vw;
	font-size:90%;
	justify-content:center;
	}
	
	.sale{
	width:100vw; height:80px;
	margin:10px 10px 10px 10px ;
	}
	
	#newCat{
	display:none;
	}
	
	#news{
	width:100vw;	
	height:600px;
	flex-wrap:wrap;
	padding-bottom:5px;
	}
	
	.note{
	width:calc(100vw - 22px);
	border:solid 1px #ccf;
	height:290px;
	flex-wrap:wrap;
	}
	
	.note h3{
	height:30px;
	line-height:30px;
	}
	
	.note img{
	width:100px;
	height:100px;
	margin:2px;
	margin-right:15px;
	float:left;
	overflow:auto;
	}
	
	#news div:nth-of-type(2){
	margin-top:10px;	
	}
	
	.models{
	width:100vw; height:10px;
	margin:10px 10px 10px 10px ;
	font-size:100%;		
	padding-top:0;
	}
	
	.slider{
	display:none;		
	}

	.catalog > span{
	display:inline-block;
	}

	.catalog > span >img{
	width:150px; height:200px;
	cursor:pointer;
	} 

	.onclick{
	width:200px;
	height:300px;
	left:0px;
	z-index:10;
	}
	
	.onclick > img{
	width:200px;
	height:300px;
	position:fixed;
	top:10px;
	border:solid black 1px;
}

	.onclick::after{
	content:"Информация о товаре: материал, размер, цвета в наличии";
	background:rgba(255,255,255,.85);
	display:block;
	width:90px;
	height:125px;
	border:black solid 2px;
	position:fixed;
	top:10px;
	left:202px;
	}
	
	.left{
	font-size:100%;
	text-align:center;
	padding-top:220px;
	padding-right:2px;
	}

	.right{
	font-size:100%;
	text-align:center;
	padding-top:220px;
	padding-right:2px;
	}
}


